name: Deploy manuelt
on:
  workflow_dispatch:
    inputs:
      image:
        required: true
        type: string
        description: 'Image tag to deploy (example 2023.03.10.080433-f821119). OBS! vær oppmerksom på at naiserator.yml, dev-fss/prod-fss.json ikke oppdateres ved å deploye på denne måten.'
      environment:
        required: true
        type: choice
        description: 'The environment to deployed to (dev|prod)'
        options:
          - dev
          - prod

jobs:
  deploy:
    name: Deploy
    permissions:
      contents: write
      id-token: write
    uses: navikt/sif-gha-workflows/.github/workflows/maven-deploy.yml@main
    with:
      gar: true
      image: ${{ inputs.image }}
      cluster: ${{ inputs.environment }}-fss
      naiserator_file: nais/naiserator.yml
      input_vars_file: nais/${{inputs.environment}}-fss.json
      namespace: k9saksbehandling
    secrets: inherit
