name: Create or update Kafka topics

on:
  push:
    paths:
      - 'nais/kafka/**'
      - '.github/workflows/kafka.yml'

jobs:
  deploy-kafka-topics-dev:
    name: Deploy to Aiven Dev
    if: startsWith(github.ref, 'refs/heads/master')
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          VAR: kafka-pool=nav-dev
          RESOURCE: nais/kafka/produksjonsstyring-k9sak.yml
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          VAR: kafka-pool=nav-dev
          RESOURCE: nais/kafka/produksjonsstyring-k9punsj.yml
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          VAR: kafka-pool=nav-dev
          RESOURCE: nais/kafka/aapen-k9statistikk-behandling-v2.yml
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          VAR: kafka-pool=nav-dev
          RESOURCE: nais/kafka/aapen-k9statistikk-sak-v2.yml
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          VAR: kafka-pool=nav-dev
          RESOURCE: nais/kafka/oppgavemeldinger-klage-til-los.yml

  deploy-kafka-topics-prod:
    name: Deploy to Aiven Prod
    if: startsWith(github.ref, 'refs/heads/master')  # If the branch is master
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-gcp
          VAR: kafka-pool=nav-prod
          RESOURCE: nais/kafka/produksjonsstyring-k9sak.yml
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-gcp
          VAR: kafka-pool=nav-prod
          RESOURCE: nais/kafka/produksjonsstyring-k9punsj.yml
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-gcp
          VAR: kafka-pool=nav-prod
          RESOURCE: nais/kafka/oppgavemeldinger-klage-til-los.yml
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-gcp
          VAR: kafka-pool=nav-prod
          RESOURCE: nais/kafka/aapen-k9statistikk-behandling-v2.yml
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-gcp
          VAR: kafka-pool=nav-prod
          RESOURCE: nais/kafka/aapen-k9statistikk-sak-v2.yml